<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="andfans.com.demolist">
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestIPC"
            android:process=":a"
            />
        <activity android:name=".TestIpcFile"
            android:process=":b"
            />
        <activity android:name=".TestIPCBundle"
            android:process=":b"
            />
        <activity android:name=".TestAsyncTask"/>
        <activity
            android:name=".TestMenuActivity"
            />
        <activity
            android:name=".TestRecycleActivity"
            />

        <activity android:name=".TestRecycleNextActivity">
            <intent-filter>
                <action android:name="aaaa"/>
                <!--<category android:name="AAAA"/>-->
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>